
<div class="card ticket" (click)="selectTicket()">

  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->  
  <h3>{{ticket.title}}</h3>
  <p>{{ticket.description}}</p>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  
     <!-- this line to display the student's name -->
     <ng-container *ngIf="ticket.student">
      <i class="fas fa-user"></i> {{ ticket.student.FrstName }} {{ ticket.student.LastName }}
    </ng-container>

  <i *ngIf= "ticket.major == 'SI'" class="far fa-vial"></i>
  <i *ngIf= "ticket.major == 'GE'" class= "far fa-map"></i>
  <i *ngIf= "ticket.major == 'GB'" class= "fas fa-map"></i>

  {{ticket.major}}
  <br>
  <button class="btn btn-danger" (click)="archiveTicket()">Archive</button>  
</div>


